{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDA</title>
    <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block wrap %}
        <header class="p-3 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="{% url 'main' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <b>SDA</b>
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li>
                            <a href="#" class="nav-link px-2 text-white"></a>
                        </li>
                        {% if user.is_superuser %}
                            <li>
                                <a href="/admin" class="nav-link text-white">Админка</a>
                            </li>
                        {% endif %}
                    </ul>

                    <span class="navbar-text">{{ user.email }}</span>
                    <div class="text-end">
                        <a href="{% url 'logout' %}" class="nav-link text-white">Выход</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    {% endblock %}
</body>
</html>
