{% extends "web/base.html" %}
{% block head %}
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .form-center {
            width: 100%;
            max-width: 550px;
            padding: 15px;
            margin: auto;
            text-align: center;
        }

    </style>
{% endblock %}
{% block wrap %}
    <div class="form-center" style>
        <h1 class="h3 mb-3 font-weight-normal">SDA</h1>
        <a href="{% url 'login-unienv' %}" class="btn btn-primary">Войти через UniEnv</a>
    </div>
{% endblock %}
