<template>
    <form class="input-group mb-1" @submit.prevent="load">
        <button
            v-if="!withoutCloseIcon"
            class="btn btn-outline-secondary btn-sm"
            title="Закрыть аналитику"
            @click="$emit('close')"
        >
            <i :class="closeCrossIcon ? 'fa-times' : 'fa-arrow-left'" class="fa"></i>
        </button>
        <!--<input type="text" class="form-control" placeholder="Поиск по названию проекта" autocomplete="off" />-->
        <input
            type="date"
            :value="startDate"
            @change="setStartDate($event.target.value)"
            id="startDate"
            class="form-control form-control-sm"
        />
        <input
            type="date"
            :value="endDate"
            @change="setEndDate($event.target.value)"
            id="endDate"
            class="form-control form-control-sm"
        />
    </form>
</template>

<script>
    import { mapActions, mapState } from "pinia";
    import { useStore } from "./store";

    export default {
        // eslint-disable-next-line vue/multi-word-component-names
        name: "Filters",
        props: {
            closeCrossIcon: Boolean,
            withoutCloseIcon: Boolean
        },
        computed: {
            ...mapState(useStore, ["startDate", "endDate"]),
        },
        methods: {
            ...mapActions(useStore, ["setStartDate", "setEndDate"]),
        },
    };
</script>
