/* Убиранием лишнюю высоту в слектах*/
#changelist-search .select2-selection {
    height: 30px;
    min-height: auto;
}

/* Убиарем лишние отступы */
#changelist .card {
    box-shadow: none;
}
.table-responsive {
    margin-left: -20px;
    margin-right: -20px;
    width: auto;
}

/* Убираем переносы в некоторых ячейках */
.nowrap {
    white-space: nowrap;
}

.text-normal {
    font-weight: normal;;
}

.projects-card-header {
    border-bottom: none;
    padding-bottom: 0;
}

.status-idea, .status-planning, .status-developing, .status-need_improvements, .status-support, .status-done {
    font-weight: normal;
}
.status-idea { color: var(--blue); }
.status-planning { color: var(--yellow); }
.status-developing { color: var(--purple); }
.status-need_improvements { color: var(--cyan); }
.status-support { color: var(--teal); }
.status-done { color: var(--green); }

.importance-high, .importance-usual, .importance-no_matter {
    font-weight: bold;
}
.importance-high { color: var(--red) !important; }
.importance-usual { color: var(--orange) !important; }
.importance-no_matter { color: var(--info) !important; }

.task-completed {
    text-decoration: line-through;
    color: var(--green);
    opacity: 0.5;
}

.list-group-item-action.active {
    color: white !important;
}
#project_edit_form {
    width: 100%;
}
#project_edit_form .p-5 {
    padding: 10px !important;
}

#project_edit_form .text-nowrap {
    white-space: normal !important;
}
#project_edit_form #jazzy-actions {
    position: sticky;
    top: 5px;
}

.task-row .task-content {
    height: auto;
}

/* исправление лишнего отступа слева */
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
    margin-left: 0;
}
