{% extends "admin/index.html" %}

{% block content %}
    {{ block.super }}
    {% if user.is_superuser %}
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="m-0">System links</h5>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td>Services</td>
                            <td>
                                <div class="btn-group float-right">
                                    <a href="/grafana/?search=open" class="btn btn-sm btn-outline-secondary">Visualization (Grafana)</a>
                                    <a href="/flower/" class="btn btn-sm btn-outline-secondary">Message Queue (Celery Flower)</a>
                                    <a href="/netdata/" class="btn btn-sm btn-outline-secondary">System monitoring (Netdata)</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Auth</td>
                            <td>
                                <a href="{% url 'social:begin' 'trello' %}" class="btn btn-sm btn-outline-secondary">Trello</a>
                                <br>
                                <p>
                                    <b>Gitlab</b>: open
                                    <a href="https://gitlab.com/-/profile/personal_access_tokens" target="_blank">
                                        create personal access token
                                    </a>
                                    and paste it to <a href="{% url 'admin:core_token_changelist' %}">tokens</a>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

