<template>
    <div v-if="isShow" class="card card-primary card-outline">
        <div class="card-header">
            <Filters @close="close" />
        </div>
        <EventsHeatmapChart />
    </div>
</template>

<script>
    import Filters from "../common/Filters.vue";
    import EventsHeatmapChart from "../common/charts/EventsHeatmapChart.vue";
    import appMixin from "../common/appMixin";

    export default {
        mixins: [appMixin],
        components: { EventsHeatmapChart, Filters },
    };
</script>

<style scoped>
    #content {
        width: 100%;
    }
</style>
