<template>
    <tr>
        <th>{{ project.name }}</th>
        <td v-for="date in dates">{{ getEventsSum(date) }}</td>
    </tr>
</template>

<script>
    const sum = (x, y) => x + y;

    export default {
        name: "ProjectItem",
        props: {
            project: Object,
            dates: Array,
        },
        methods: {
            getEventsSum(date) {
                return Object.values(this.project.stats)
                    .map((userStat) => {
                        return Object.values(userStat[date] || {}).reduce(sum, 0);
                    })
                    .reduce(sum, 0);
            },
        },
    };
</script>
