{% extends "admin/base.html" %}
{% load static %}
{% block page_content %}
    <div id="app" class="col-md-12">
        <h3 class="text-center">Загрузка...</h3>
    </div>
{% endblock %}


{% block extrajs %}
    {{ block.super }}
    <script type="module" src="{% static 'crmwebapp/dist/vendor.js' %}"></script>
    <script type="module" src="{% static 'crmwebapp/dist/analysis.js' %}"></script>
    <link rel="stylesheet" href="{% static 'crmwebapp/dist/assets/analysis.css' %}">
{% endblock %}
