{% extends "admin/change_list.html" %}
{% load i18n admin_list static %}
{% load crmadmin %}
{% block content_title %}{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}
    <div class="col-md-2">
        <div class="input-group mb-1">
            <input type="text" class="form-control" placeholder="Поиск" id="searchinput" name="q" autocomplete="off">
        </div>
        <div class="list-group" id="projects_sidebar">
            {% for project in projects %}
                <a
                    href="?project__id__exact={{ project.id }}"
                    class="list-group-item list-group-item-action importance-{{ project.importance }}"
                    id="projectLink{{ project.id }}"
                >
                    {% include 'crm_admin/partials/project.html' %}
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="col-10">
        <div class="card card-primary card-outline">
            <div class="card-header projects-card-header">
                <h4 class="card-title">{{ cl.opts.verbose_name_plural|capfirst }}{% block pretitle %}{% endblock %}</h4>
                <div class="card-tools form-inline">
                    <a class="btn btn-outline-secondary btn-sm mr-1 mt-2" href="{% url 'crm:project_tasks_tabel' %}">Табель</a>
                    {% block date_hierarchy %}{% if cl.date_hierarchy %}{% date_hierarchy cl %}{% endif %}{% endblock %}
                    {% block search %}
                        {% search_form cl %}
                    {% endblock %}
                </div>
            </div>

            <div class="card-body">
                <div id="content-main">
                    {% if cl.formset and cl.formset.errors %}
                    <p class="errornote">
                        {% if cl.formset.total_error_count == 1 %}
                            {% trans "Please correct the error below." %}
                        {% else %}
                            {% trans "Please correct the errors below." %}
                        {% endif %}
                    </p>
                    {{ cl.formset.non_form_errors }}
                    {% endif %}
                    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
                    <div class="row">
                        <div class="col-12">
                            {% if cl.formset %}
{#                                    <div>{{ cl.formset.management_form }}</div>#}
                            {% endif %}

                            {% block result_list %}
                                {% tasks_result_list cl %}
                                {% if action_form and actions_on_bottom and cl.show_admin_actions %}
                                    <form id="changelist-form" method="post"{% if cl.formset and cl.formset.is_multipart %}enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
                                        <div class="row">
                                            <div class="col-12">
                                                {% admin_actions %}
                                            </div>
                                        </div>
                                    </form>
                                {% endif %}
                            {% endblock %}
                        </div>
                    </div>
                    <div class="row">
                        {% block pagination %}{% pagination cl %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

    </div>
        <br class="clear"/>
    </div>
{% endblock %}


{% block extrajs %}
    {{ block.super }}
    <script src="{% static 'crm_admin/js/projects_sidebar_search.js' %}"></script>
    <script src="{% static 'crm_admin/js/project_tasks.js' %}"></script>
    <script type="module" src="{% static 'crmwebapp/dist/vendor.js' %}"></script>
    <script type="module" src="{% static 'crmwebapp/dist/projectTasks.js' %}"></script>
{% endblock %}
