{% extends "admin/base.html" %}
{% load crmadmin %}
{% load static %}
{% block page_content %}
    <div class="container-fluid">
        <h1>Табель</h1>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Проект</th>
                            <th>Сумма средних</th>
                            <th>Среднее средних</th>
                            {% for date in week_start_dates %}
                                <th>{{ date | date }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <th>{{ project.name }}</th>
                                <th>{{ project.grouped_tasks_sum }}</th>
                                <th>{{ project.grouped_tasks_sum_avg }}</th>
                                {% for date in week_start_dates %}
                                    <td>
                                        {{ project.grouped_tasks_avg|dict_get:date }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
