{% extends 'admin/change_form.html' %}
{% load static %}
{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block pretitle %}{% endblock %}
{% block content %}
    <div class="row" id="project_edit_form">
        <div class="col-md-2">
            <form class="input-group mb-1" action="{% url 'admin:crm_crmproject_changelist' %}">
                <a class="btn btn-outline-secondary" title="Назад" href="{% url 'admin:crm_crmproject_changelist' %}">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <input type="text" class="form-control" placeholder="Поиск" id="searchinput" name="q" autocomplete="off">
            </form>
            <div class="list-group" id="projects_sidebar">
                {% for project in projects %}
                    <a href="{% url 'admin:crm_crmproject_change' project.id %}"
                       class="list-group-item list-group-item-action  importance-{{ project.importance }}">
                        {% include 'crm_admin/partials/project.html' %}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-10">
            {{ block.super }}
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script src="{% static 'crm_admin/js/projects_sidebar_search.js' %}"></script>
{% endblock %}
