{% extends "admin/change_list.html" %}
{% load static %}
{% load i18n admin_list %}
{% load crmadmin %}
{% block content_title %}{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}
    <div class="col-12" >
        <div id="app"></div>
        <div id="djangoContent" class="card card-primary card-outline">
            <div class="card-header projects-card-header">
                <h4 class="card-title">{{ cl.opts.verbose_name_plural|capfirst }}{% block pretitle %}{% endblock %}</h4>
                <div class="card-tools form-inline">
                    <button class="btn btn-outline-secondary btn-sm mr-1 mt-2" id="startButton">Аналитика</button>
                    {% block date_hierarchy %}{% if cl.date_hierarchy %}{% date_hierarchy cl %}{% endif %}{% endblock %}
                    {% block search %}
                        {% search_form cl %}
                    {% endblock %}
                </div>
            </div>

            <div class="card-body">
                <form id="changelist-form" method="post"{% if cl.formset and cl.formset.is_multipart %}enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
                    <div id="content-main">
                        {% if cl.formset and cl.formset.errors %}
                        <p class="errornote">
                            {% if cl.formset.total_error_count == 1 %}
                                {% trans "Please correct the error below." %}
                            {% else %}
                                {% trans "Please correct the errors below." %}
                            {% endif %}
                        </p>
                        {{ cl.formset.non_form_errors }}
                        {% endif %}
                        <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
                        <div class="row">
                            <div class="col-12">
                                {% if cl.formset %}
                                    <div>{{ cl.formset.management_form }}</div>
                                {% endif %}

                                {% block result_list %}
                                    <div class="row">
                                        <div class="col-12 col-sm-8">
                                            {% if action_form and actions_on_top and cl.show_admin_actions %}
                                                {% admin_actions %}
                                            {% endif %}
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            {% block object-tools %}
                                                {% block object-tools-items %}
                                                    {% change_list_object_tools %}
                                                {% endblock %}
                                            {% endblock %}
                                        </div>
                                    </div>
                                    {% projects_result_list cl %}
                                    {% if action_form and actions_on_bottom and cl.show_admin_actions %}
                                        <div class="row">
                                            <div class="col-12">
                                                {% admin_actions %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endblock %}
                            </div>
                        </div>
                        <div class="row">
                            {% block pagination %}{% pagination cl %}{% endblock %}
                        </div>
                    </div>
                    </div>
                </form>
            </div>

        </div>
        <br class="clear"/>
    </div>

    <script type="module" src="{% static 'crmwebapp/dist/vendor.js' %}"></script>
    <script type="module" src="{% static 'crmwebapp/dist/projectsList.js' %}"></script>
{% endblock %}
