{% load i18n static jazzmin crmadmin %}

{% if result_hidden_fields %}
    <div class="hiddenfields">
        {% for item in result_hidden_fields %}{{ item }}{% endfor %}
    </div>
{% endif %}

{% if project %}
    <div class="row">
        <div class="col">
            {{ project_name }}
            <br>
            <button class="btn btn-outline-secondary btn-sm mr-1 mt-2" id="startButton">Аналитика</button>
            <a href="{% url 'crm:project_sync_tasks' project.id %}" class="btn btn-outline-secondary btn-sm mr-1 mt-2" title="Отправить задачи в Trello">Задачи -> Trello</a>
        </div>
        <div class="col">
            <b>Ссылки</b><br>
            {{ project.links|html_links }}<br>
            {{ project_services }}
        </div>
        <div class="col">
            <b>Заинтересованные лица</b><br>
            {{ project_stakeholders }}
        </div>
        <div class="col">
            <b>Команда</b><br>
            {{ project_members }}
        </div>
    </div>
    <script>
        window.projectId = "{{ project.id }}";
    </script>
    <div id="analyticsApp"></div>
    <hr>
{% endif %}

<form class="input-group mb-3" id="task-new" action="{% url 'admin:crm_projecttask_add' %}" method="post" novalidate="" style="display: none">
    {% csrf_token %}
    <label class="input-group-text">
        <input type="checkbox" name="is_completed">
    </label>
    <input type="hidden" name="project">
    <input name="title" class="form-control" placeholder="Новая задача">
    <input type="date" class="form-control" name="date" value="{{ task.date|date:'Y-m-d'|default_if_none:'' }}" style="flex: 0 0 130px">
    <input type="number" min="1" max="5" class="form-control" name="mark" value="" style="flex: 0 0 130px" placeholder="Оценка">
    <button class="btn btn-primary" title="Сохранить"><i class="fa fa-save"></i></button>
</form>

{% if results %}
    {% update_variable 0 as prev_project_id %}
    {% for task in queryset %}
        {% if prev_project_id != task.project_id and not project %}
            <hr>
            <p>
                <a href="?project__id__exact={{ task.project.id }}">
                    <b class="importance-{{ task.project.importance }}">
                        {% include 'crm_admin/partials/project.html' with project=task.project %}
                    </b>
                </a>
            </p>
        {% endif %}
        <form class="input-group mb-3 task-row" action="{% url 'admin:crm_projecttask_change' task.id %}" method="post" novalidate="">
            {% csrf_token %}
            <label class="input-group-text">
                <input type="checkbox" name="is_completed" {% if task.is_completed %}checked{% endif %}>
            </label>
            <input type="hidden" name="project" value="{{ task.project_id }}">
            <span class="form-control task-content">{{ task.title|html_links }}</span>
            <textarea name="title" class="form-control" style="display: none">{{ task.title }}</textarea>
            <input type="date" class="form-control" name="date" value="{{ task.date|date:'Y-m-d'|default_if_none:'' }}" style="flex: 0 0 130px">
            <input type="number" min="1" max="5" class="form-control" name="mark" value="{{ task.mark|default_if_none:'' }}" style="flex: 0 0 130px" placeholder="Оценка">
            <a class="btn btn-danger btn-sm" href="{% url 'admin:crm_projecttask_delete' task.id %}?_changelist_filters=project__id__exact%3D{{ task.project_id }}" title="Удалить">
                <i class="fa fa-trash"></i>
            </a>
        </form>
        {% update_variable task.project_id as prev_project_id %}
    {% endfor %}
{% endif %}
