<template>
    <Chart v-if="result" :options="chartOptions" @click="clickHandler" class="mt-3" />
    <b v-else class="alert text-center">Загрузка...</b>
</template>

<script>
    import { Chart } from "highcharts-vue";
    import flatten from "lodash.flatten";
    import heatmapInit from "highcharts/modules/heatmap";
    import Highcharts from "highcharts";
    import { mapState } from "pinia/dist/pinia.esm-browser";
    import { useStore } from "../../common/store";
    import { MAX_PROJECT_EVENTS_COUNT, MIN_PROJECT_EVENTS_COUNT } from "../../common/constants";

    heatmapInit(Highcharts);

    const LEGEND_SETTINGS = {
        align: "right",
        layout: "vertical",
        margin: 0,
        verticalAlign: "top",
        y: 25,
        symbolHeight: 280,
    };

    function getPointCategoryName(point, dimension) {
        const series = point.series;
        const isY = dimension === "y";
        const axis = series[isY ? "yAxis" : "xAxis"];
        return axis.categories[point[isY ? "y" : "x"]];
    }

    export default {
        name: "EventsHeatmapChart",
        components: { Chart },
        props: {
            projectId: {
                type: Number,
                default: null,
            },
        },
        data() {
            return { result: null };
        },
        methods: {
            async load() {
                let url = `/crm/api/projects_weekly_summary/?start=${this.startDate}&end=${this.endDate}`;
                if (this.projectId) {
                    url += `&project_id=${this.projectId}`;
                }
                const res = await fetch(url);
                this.result = await res.json();
            },
            clickHandler(event) {
                if (event.target.nodeName.indexOf("span") === -1) {
                    return;
                }
                const id = event.target.getAttribute("id");
                this.$emit("project-click", parseInt(id.replace("project", "")));
            },
        },
        watch: {
            startDate: "load",
            endDate: "load",
        },
        created() {
            this.load();
        },
        computed: {
            ...mapState(useStore, ["startDate", "endDate"]),
            chartOptions() {
                return {
                    chart: {
                        type: "heatmap",
                        marginBottom: 80,
                        plotBorderWidth: 1,
                        height: this.projectId ? 300 : 800,
                    },

                    title: {
                        text: "Кол-во событий по неделям",
                    },

                    xAxis: {
                        opposite: true,
                        categories: this.result.dates,
                    },

                    yAxis: {
                        categories: this.result.projects.map((x) => {
                            return `<span id="project${x.id}">${x.name.substr(0, 20)} #${x.id}</span>`;
                        }),
                        title: null,
                        reversed: true,
                        visible: this.projectId === null,
                    },

                    colorAxis: {
                        min: MIN_PROJECT_EVENTS_COUNT,
                        max: MAX_PROJECT_EVENTS_COUNT,
                        minColor: "#c04e4e",
                        maxColor: "#4ec066",
                    },

                    legend: this.projectId !== null ? {} : LEGEND_SETTINGS,

                    tooltip: {
                        formatter() {
                            return `${this.point.value} событий <br>
                            за неделю ${getPointCategoryName(this.point, "x")} <br>
                            в проект ${getPointCategoryName(this.point, "y")}`;
                        },
                    },

                    series: [
                        {
                            turboThreshold: 0,
                            borderWidth: 1,
                            // projectIndex, dateIndex, value
                            data: flatten(
                                this.result.projects.map((project, projectIndex) => {
                                    return this.result.dates.map((date, dateIndex) => {
                                        return [dateIndex, projectIndex, project.stat_by_week[date] || 0];
                                    });
                                }),
                            ),
                            dataLabels: {
                                enabled: true,
                                // color: "#000000",
                            },
                        },
                    ],
                };
            },
        },
    };
</script>

<style scoped>

</style>
