<template>
    <Chart v-if="result" :options="chartOptions" :key="type" />
</template>

<script>
    import { Chart } from "highcharts-vue";
    import { COLORS, NAMES_MAP } from "../../common/constants";

    export default {
        name: "ProjectEventsDailyChart",
        components: { Chart },
        props: {
            result: Object,
            type: String,
        },
        computed: {
            chartOptions() {
                const data = this.result[`${this.type}_daily_stat`];
                const dates = this.result[`daily_dates`];

                const series = [];

                Object.keys(data).forEach((groupName, index) => {
                    console.log(index);
                    series.push({
                        turboThreshold: 0,
                        name: groupName,
                        borderWidth: 1,
                        data: Object.keys(data[groupName]).map((day) => data[groupName][day] || 0),
                        color: COLORS[index % COLORS.length],
                    });
                });

                return {
                    chart: {
                        type: "column",
                        plotBorderWidth: 1,
                        height: 500,
                    },

                    title: {
                        text: `Данные ${NAMES_MAP[this.type]} по дням`,
                    },

                    xAxis: {
                        categories: dates,
                        crosshair: true,
                    },

                    yAxis: {
                        title: null,
                    },

                    legend: {
                        align: "right",
                        layout: "horizontal",
                        verticalAlign: "top",
                    },

                    tooltip: {
                        formatter() {
                            return `${this.point.y} событий ${this.point.series.name}`;
                        },
                    },

                    series,
                };
            },
        },
    };
</script>
