<template>
    <div class="mb-5">
        <ProjectEventsWeeklyChart v-if="result && period === PERIOD_WEEKLY" :result="result" :type="type" :key="userId" />
        <ProjectEventsDailyChart v-if="result && period === PERIOD_DAILY" :result="result" :type="type" :key="userId" />
        <b v-if="!result" class="alert text-center">Загрузка...</b>
        <div v-if="result" class="btn-group" role="group">
            <button
                v-for="item in [TYPE_MEMBER, TYPE_PROVIDER]"
                type="button"
                class="btn btn-outline-secondary"
                :class="{ active: type === item }"
                :key="item"
                @click="type = item"
            >
                По {{ NAMES_MAP[item] }}
            </button>
        </div>
        <div v-if="result" class="btn-group ml-3" role="group">
            <button
                v-for="item in [PERIOD_WEEKLY, PERIOD_DAILY]"
                type="button"
                class="btn btn-outline-secondary"
                :class="{ active: period === item }"
                :key="item"
                @click="period = item"
            >
                По {{ NAMES_MAP[item] }}
            </button>
        </div>
        <div v-if="result">
            <button
                v-for="(id, name) in result.members_map"
                :key="id"
                class="btn"
                :class="{'btn-primary': id === userId, 'btn-link': id !== userId}"
                @click="openUser(id)"
            >
                {{name}}
            </button>
            <button
                v-if="userId"
                :key="id"
                class="btn btn-link"
                @click="openUser(null)"
            >
                Отмена
            </button>
        </div>
    </div>
</template>

<script>
    import { mapState } from "pinia/dist/pinia.esm-browser";
    import { useStore } from "../../common/store";
    import { NAMES_MAP, PERIOD_DAILY, PERIOD_WEEKLY, TYPE_MEMBER, TYPE_PROVIDER } from "../../common/constants";
    import ProjectEventsWeeklyChart from "./ProjectEventsWeeklyChart.vue";
    import ProjectEventsDailyChart from "./ProjectEventsDailyChart.vue";

    export default {
        name: "ProjectEventsContainer",
        components: { ProjectEventsDailyChart, ProjectEventsWeeklyChart },
        props: {
            projectId: Number,
        },
        data() {
            return {
                result: null,
                type: TYPE_MEMBER,
                period: PERIOD_WEEKLY,
                userId: null,
                NAMES_MAP,
                TYPE_MEMBER,
                TYPE_PROVIDER,
                PERIOD_WEEKLY,
                PERIOD_DAILY,
            };
        },
        methods: {
            async load() {
                let url = `/crm/api/projects_weekly_summary/${this.projectId}/?start=${this.startDate}&end=${this.endDate}`;
                if (this.userId) {
                    url += `&user_id=${this.userId}`;
                }

                const res = await fetch(url);
                this.result = await res.json();
            },
            openUser(userId) {
                this.userId = userId;
                this.load();
            },
        },
        watch: {
            startDate: "load",
            endDate: "load",
        },
        created() {
            this.load();
        },
        computed: {
            ...mapState(useStore, ["startDate", "endDate"]),
        },
    };
</script>

<style scoped>

</style>
