<template>
    <Chart v-if="result" :options="chartOptions" :key="type" />
</template>

<script>
    import { Chart } from "highcharts-vue";
    import flatten from "lodash.flatten";
    import heatmapInit from "highcharts/modules/heatmap";
    import Highcharts from "highcharts";
    import { MAX_PROJECT_EVENTS_COUNT, MIN_PROJECT_EVENTS_COUNT, NAMES_MAP } from "../../common/constants";

    heatmapInit(Highcharts);

    function getPointCategoryName(point, dimension) {
        const series = point.series;
        const isY = dimension === "y";
        const axis = series[isY ? "yAxis" : "xAxis"];
        return axis.categories[point[isY ? "y" : "x"]];
    }

    export default {
        name: "ProjectEventsWeeklyChart",
        components: { Chart },
        props: {
            result: Object,
            type: String,
        },
        computed: {
            chartOptions() {
                const data = this.result[`${this.type}_weekly_stat`];
                const dates = this.result.weekly_dates;

                return {
                    chart: {
                        type: "heatmap",
                        plotBorderWidth: 1,
                        height: 500,
                    },

                    title: {
                        text: `Данные ${NAMES_MAP[this.type]} по неделям`,
                    },

                    xAxis: {
                        opposite: true,
                        categories: dates,
                    },

                    yAxis: {
                        categories: Object.keys(data),
                        title: null,
                        reversed: true,
                    },

                    colorAxis: {
                        min: MIN_PROJECT_EVENTS_COUNT,
                        max: MAX_PROJECT_EVENTS_COUNT,
                        minColor: "#c04e4e",
                        maxColor: "#4ec066",
                    },

                    legend: {
                        align: "right",
                        layout: "vertical",
                        verticalAlign: "top",
                        y: 25,
                        symbolHeight: 280,
                    },

                    tooltip: {
                        formatter() {
                            return `${this.point.value} событий <br>
                            за ${getPointCategoryName(this.point, "x")}`;
                        },
                    },

                    series: [
                        {
                            turboThreshold: 0,
                            name: "Activity",
                            borderWidth: 1,
                            // projectIndex, dateIndex, value
                            data: flatten(
                                Object.values(data).map((item, memberIndex) => {
                                    return dates.map((date, dateIndex) => {
                                        return [dateIndex, memberIndex, item[date] || 0];
                                    });
                                }),
                            ),
                            dataLabels: {
                                enabled: true,
                                color: "#000000",
                            },
                        },
                    ],
                };
            },
        },
    };
</script>
