<template>
    <Navbar>
        <li v-if="!projectId" class="nav-item">
            <b class="nav-link disabled">Выберите проект из списка слева для просмотра информации по нему</b>
        </li>
        <li v-if="projectInfo" class="nav-item">
            <a
                class="nav-link"
                :href="`/admin/crm/projecttask/?project__id__exact=${projectId}`"
                target="_blank"
                v-html="projectInfo"
            />
        </li>
        <li v-if="projectId" class="nav-item">
            <a class="nav-link" href="#" @click.prevent="projectId = null">Все проекты</a>
        </li>
        <li v-if="projectId" class="nav-item"><a class="nav-link" href="#allEvents">Все события</a></li>
        <li v-if="projectId" class="nav-item"><a class="nav-link" href="#eventsSeparated">Команда и сервисы</a></li>
    </Navbar>
    <Filters without-close-icon />
    <LastUpdateSummary v-if="!projectId" @project-click="projectChartClick" />
    <a href="/crm/analysis/start_code_analysis/" class="btn btn-outline-primary btn-sm" @click="codeAnalysisConfirm">Запустить анализ кода</a>
    <EventsHeatmapChart
        id="allEvents"
        :project-id="projectId"
        @project-click="projectChartClick"
        :key="projectId"
    />
    <div id="eventsSeparated" class="mt-3" />
    <ProjectEventsChartContainer v-if="projectId" :project-id="projectId" />
</template>

<script>
    import Filters from "../common/Filters.vue";
    import ProjectEventsChartContainer from "../common/charts/ProjectEventsChartContainer.vue";
    import EventsHeatmapChart from "../common/charts/EventsHeatmapChart.vue";
    import Navbar from "./Navbar.vue";
    import LastUpdateSummary from "./LastUpdateSummary.vue";

    export default {
        components: { LastUpdateSummary, Navbar, EventsHeatmapChart, ProjectEventsChartContainer, Filters },
        data() {
            return {
                projectId: null,
                projectInfo: null,
            };
        },
        methods: {
            projectChartClick(projectId) {
                this.projectId = projectId;
            },
            async loadProjectInfo() {
                const response = await fetch(`/crm/project_info_cell/${this.projectId}/`);
                const html = await response.text();
                const parts = html.split("<br>");
                const secondLine = parts.slice(1, parts.length - 1).join("&middot;");
                this.projectInfo = `${parts[0]} <br> ${secondLine}`;
            },
            codeAnalysisConfirm(event) {
                if (!confirm("Уверены, что хотите запустить анализ кода?")) {
                    event.preventDefault();
                }
            }
        },
        watch: {
            projectId(value) {
                if (value) {
                    this.loadProjectInfo();
                } else {
                    this.projectInfo = null;
                }
            },
        },
    };
</script>
