<template>
    <td class="text-center" width="75" :class="`bg-${dateClass}`">
        <a :href="href" target="_blank">{{ dateText }}</a>
    </td>
</template>

<script>
    import { formatDistance } from "date-fns";
    import { ru } from "date-fns/locale";

    const currentDate = new Date();

    export default {
        name: "LastUpdateSummaryCell",
        props: {
            date: String,
            href: String,
        },
        computed: {
            dateObj() {
                return new Date(this.date);
            },
            dateText() {
                if (!this.date) {
                    return "-";
                }
                return formatDistance(this.dateObj, currentDate, { locale: ru });
            },
            dateClass() {
                if (!this.date) {
                    return "";
                }
                const msDiff = currentDate.getTime() - this.dateObj.getTime();
                const daysDiff = msDiff / 1000 / 60 / 60 / 24;
                if (daysDiff < 7) {
                    return "success";
                }
                if (daysDiff < 14) {
                    return "warning";
                }
                return "danger";
            },
        },
    };
</script>

<style scoped>
    td {
        padding: 2px;
    }
    a[href] {
        text-decoration: underline;
    }
</style>
