<template>
    <h5 class="text-center mt-3">Даты последнего обновления</h5>
    <table v-if="result" class="table-borderless table-responsive mb-3">
        <thead>
            <tr>
                <th></th>
                <th
                    v-for="project in result"
                    :key="project.id"
                    v-html="project.name_html"
                    class="name-cell"
                    @click.prevent="$emit('project-click', project.id)"
                />
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Инфо</th>
                <LastUpdateSummaryCell
                    v-for="project in result"
                    :href="`/admin/crm/crmproject/${project.id}/change/`"
                    :date="project.updated_at"
                    :key="project.id"
                />
            </tr>
            <tr>
                <th>Задачи</th>
                <LastUpdateSummaryCell
                    v-for="project in result"
                    :href="`/admin/crm/projecttask/?project__id__exact=${project.id}`"
                    :date="project.tasks_updated_at"
                    :key="project.id"
                />
            </tr>
            <tr>
                <th>Trello</th>
                <LastUpdateSummaryCell
                    v-for="project in result"
                    :href="project.trello_link"
                    :date="project.trello_max_date"
                    :key="project.id"
                />
            </tr>
            <tr>
                <th>Gitlab</th>
                <LastUpdateSummaryCell
                    v-for="project in result"
                    :href="project.gitlab_link"
                    :date="project.gitlab_max_date"
                    :key="project.id"
                />
            </tr>
            <tr>
                <th>Telegram</th>
                <LastUpdateSummaryCell v-for="project in result" :date="project.telegram_max_date" :key="project.id" />
            </tr>
        </tbody>
    </table>
    <b v-if="!result" class="alert text-center">Загрузка...</b>
    <p>
        Обновлялось: <span class="text-success">в последение 7 дней</span>,
        <span class="text-warning">между 7 и 14 днями</span>,
        <span class="text-danger">более 14 дней назад</span>.
        Клик на название проекта - переключение к просмотру
        аналитики по проектам. Клик на ячейку - переход на соответствующий сервис.
    </p>
</template>

<script>
    import LastUpdateSummaryCell from "./LastUpdateSummaryCell.vue";

    export default {
        name: "LastUpdateSummary",
        components: { LastUpdateSummaryCell },
        data() {
            return { result: null };
        },
        methods: {
            async load() {
                const res = await fetch("/crm/api/projects_last_update_summary/");
                this.result = await res.json();
            },
        },
        created() {
            this.load();
        },
    };
</script>

<style scoped>
    .name-cell {
        padding: 2px;
    }
    .table-responsive {
        margin-left: 0;
        margin-right: 0;
    }
</style>
