<template>
    <nav class="navbar navbar-expand-lg navbar-light mt-1 mb-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" @click="openMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" :style="{display: mobileMenuDisplay}">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <slot />
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        // eslint-disable-next-line vue/multi-word-component-names
        name: "Navbar",
        data() {
            return {
                mobileMenuDisplay: null,
            };
        },
        methods: {
            openMenu() {
                console.log('click');
                if (!this.mobileMenuDisplay) {
                    this.mobileMenuDisplay = "block";
                } else {
                    this.mobileMenuDisplay = null;
                }
            },
        },
    };
</script>

<style scoped>
    .navbar {
        position: sticky;
        top: 0;
        z-index: 5;
        box-shadow: 0 0 5px #ccc;
    }
</style>
