<template>
    <div v-if="isShow" class="mt-3">
        <Filters @close="close" close-cross-icon />
        <EventsHeatmapChart :project-id="projectId" />
        <ProjectEventsChartContainer :project-id="projectId" />
    </div>
</template>

<script>
    import Filters from "../common/Filters.vue";
    import appMixin from "../common/appMixin";
    import ProjectEventsChartContainer from "../common/charts/ProjectEventsChartContainer.vue";
    import EventsHeatmapChart from "../common/charts/EventsHeatmapChart.vue";

    export default {
        components: { EventsHeatmapChart, ProjectEventsChartContainer, Filters },
        mixins: [appMixin],
        data() {
            return {
                projectId: window.projectId,
            };
        },
    };
</script>
