{{ project }}
{% if project.tasks_count %}
    <span class="badge bg-secondary float-right">
        {{ project.completed_tasks_count }}/{{ project.tasks_count }}
    </span>
{% endif %}
<br>
<small>
    {{ project.status_text }}
    {% if project.course %}
        &middot; {{ project.course }} курс
    {% endif %}
</small>
